html {
    font-size: 62.5%;
    background-color: $gray-light;
    @media (min-width: $xxl) {
        font-size: .7vw;
    }
}
body {
    position: relative;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    @media (min-width: $lg) {
        @include scrollbar();
    }
}
