@import "../../../../assets/sass/base/variables/all";

$loader-height: 4rem;

:host {
    display: block;
    height: $loader-height;
}

.loader__wrapper {
    position: relative;
    height: $loader-height;
    text-align: center;
}

.loader {
    width: auto;
    height: 100%;
}
