// Grid containers
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 5000px;

$grid-columns:                12;
$grid-gutter-width:           1.875rem;
$grid-gutter-width-sm:           1.2rem;

$default-spacing: 1rem;

$top-menu-height: 5rem;
