// Z-index
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 600;
$zi7: 700;
$zi8: 800;
$zi9: 900;
$zi10: 1000;
$zi-header: 1001;
$zi-top-popup: 1100;
$zi-error: 1200;
$modal-zindex: $zi-top-popup;