@import "../../../assets/sass/base/variables/all";

.list-grid__wrapper {
    height: $list-container-height;
    overflow-y: auto;
    z-index: $zi1;
    @media (min-width: $lg) {
        width: 100%;
        @include scrollbar();
    }
}

.list-grid {
    position: relative;
    margin-left: - $list-grid-gutter / 2;
    margin-right: - $list-grid-gutter / 2;
}


.shadow-block {
    position: relative;
    height: 3rem;
    margin-top: -3rem;
    overflow: hidden;
    z-index: $zi2;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3rem;
        top: 4.5rem;
        left: 0;
        box-shadow: $box-shadow-image-list;
    }
}
